<div class="flex-content-center full-area flex-content-center backGroundImage">
  <div class="col-12 col-sm-6 col-lg-4">
      <!-- card -->
      <mat-card>

          <!-- header -->
              <h4 class="text-center header card-center-top margin-bottom">Login</h4>
          
          <!-- image -->
          <div class="col-8 offset-2 col-lg-6 offset-lg-3">
                  <img src="assets/img/logo.png" class="Responsive image margin-bottom" />
          </div>
          <!-- text -->
          <div class="col-12  padding rtl text-right">
                  <p class="f-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
          </div>

          <!-- form -->
          <mat-card-content>
              <form (ngSubmit)="onSubmit(login.value)" [formGroup] = "login">

      
              <div>
                  <mat-form-field class="full-width text-right">
                      <input matInput placeholder="Email" [errorStateMatcher]="matcher" id="email" name="email" 
                      [formControl] = "login.controls['email']">
                  </mat-form-field>
                  </div>
      
                  <div>
                      <mat-form-field  class="full-width text-right">
                          <input matInput type="password" placeholder="Password" id="password" name="password"
                          [formControl] = "login.controls['password']">
                      </mat-form-field>
                  </div>

                  <div>
                    <mat-checkbox class="text-right pull-right" [align]="start">Keep me signed in</mat-checkbox>
                  </div>
                  
                  <div>
                      <button mat-raised-button [disabled]="!login.valid"  class="full-width" color="primary" type="submit">Sing Up</button>
                  </div>
              </form> 
              <!-- footer -->
              <footer class="bg-gray padding-vertical text-center card-center-bottom margin-top">
                     <a [routerLink]="['/extra-layout/sign-up']">signUp</a> | <a [routerLink]="['/extra-layout/lostPass']">Forget my password</a>       
                                   
              </footer>
          </mat-card-content>
      </mat-card>
  </div>
</div>