<div class="flex-content-center full-area flex-content-center">
  <div class="col-12 col-sm-6 col-lg-4">
      <!-- card -->
      <mat-card>
          <!-- header -->
              <h4 class="text-center header card-center-top margin-bottom">Set Password</h4>
          
          <!-- image -->
          <div class="col-8 offset-2 col-lg-6 offset-lg-3">
                  <img src="assets/img/logo.png" class="Responsive image margin-bottom" />
          </div>
          <!-- text -->
          <div class="col-12  padding rtl text-right">
                  <p class="f-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
          </div>

          <!-- form -->
          <mat-card-content>
              <form (ngSubmit)="onSubmit(setPass.value)" [formGroup] = "setPass">

               
                <div>
                  <mat-form-field class="full-width text-right">
                      <input matInput type="password" placeholder="Password" id="pass" name="pass" #pass 
                      [formControl] = "setPass.controls['pass']">                    
                  </mat-form-field>
                  </div>
      

                <div>
                  <mat-form-field class="full-width text-right">
                      <input matInput type="password"  placeholder="Confirm password" id="confirmPass" name="confirmPass" 
                      [formControl] = "setPass.controls['confirmPass']">                    
                  </mat-form-field>
                  </div>

                  <div>
                      <button mat-raised-button [disabled]="!setPass.valid"  class="full-width" color="primary" type="submit">Sign Up</button>
                  </div>
              </form> 
             
          </mat-card-content>
      </mat-card>
  </div>
</div>