<div class="col-12">
  <!-- card -->
  <mat-card>

      <!-- header -->
          <h4 class="text-center header card-center-top margin-bottom">Login</h4>
           <!-- text -->
           <div class="col-12  padding rtl text-right">
            <p class="f-15">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis </p>
          </div>  

          <!-- Video -->
          <div class="col-8 offset-2 margin-top">
            <video controls class="full-width">
              <source *ngIf="DATA[0] != undefined"  src="{{DATA[0].src}}"  type="video/mp4">
            </video>
          </div>
          
  </mat-card>
</div>